.document{
    max-width: 1400px;
    padding: 15px 25px;
    margin: 15px auto;
}
.btn-primary{
    background-color: #0c81ff !important;
}

/* FORM CONTAINER */
.form-container{
    padding: 20px;
    max-width: 75%;
    margin: 0 auto;
    padding: 0 auto;
}

/*
.form-container input, textarea{
    max-width: 65%;
}
*/

.rounded-border{
    border-radius: 20px;
}

@media screen and (max-width: 800px){
    .form-container{
        max-width: 100%;
    }
}

.bg-lightgrey{
    background: #F5F5F5;
}

/* FLEX CONTAINER FOR CARDS (USERS/TASKS)*/

.my-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* This is so we don't collide with bootstraps .card class*/
.my-card{
    min-width: 300px;
    max-width: 300px;

    min-height: 300px;
    max-height: 300px;

    padding: 20px;
    margin: 15px;
    overflow: scroll;
}

.my-a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.my-a:hover{
    color: black;
    background: lightgray;
}

/*user info*/
.user-box{
    -webkit-box-shadow: 0 0 5px 2px #bfc0c0;
    -moz-box-shadow: 0 0 5px 2px #bfc0c0;
    box-shadow: 0 0 5px 2px #bfc0c0;
    width: 75%;
    height: 530px;
    margin: 5em auto 3em;
    box-sizing: border-box;
}
.info-user{
    padding: 0 30px;
    text-align: center;
}

.img-user{
    border-radius: 50%;
    border: 5px solid #495057;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 105px;
}
.pic{
    width: 120px;
    height: 120px;
    margin: 0px auto;
    overflow: hidden;
}

@media screen and (max-width: 1000px){
    .user-box{
        width: 100%;
    }
}